# Backend runtime
NODE_ENV=development
PORT=3000

# CORS
CORS_ORIGINS=http://localhost:5500,http://127.0.0.1:5500,http://localhost:3000,http://127.0.0.1:3000

# Frontend (S3 / CloudFront)
FRONTEND_BASE_URL=https://your-frontend-domain

# =========================
# DATABASE (LOCAL DEV)
# =========================
# DB_HOST=localhost
# DB_PORT=3306
# DB_NAME=scope_tour
# DB_USER=root
# DB_PASSWORD=nhom7123

# =========================
# DATABASE (AWS RDS - PROD)
# =========================
DB_HOST=database-2.cx04oca4aall.ap-southeast-1.rds.amazonaws.com
DB_PORT=3306
DB_NAME=scope_tour
DB_USER=admin
DB_PASSWORD=nhom7123

# =========================
# QUEUE / CACHE
# =========================
RABBITMQ_URL=amqp://localhost

# =========================
# AUTH
# =========================
JWT_SECRET=replace-with-strong-secret

# =========================
# EMAIL
# =========================
EMAIL_SERVICE=gmail
EMAIL_USER=your_email@gmail.com
EMAIL_APP_PASSWORD=your_app_password
EMAIL_FROM=ScopeTour <your_email@gmail.com>